<h2>New User</h2>
<%= render "form", user: @user %>
<%= link_to 'Back to Users', users_path%>
<%
=begin%>
 <%= form_tag(method: "post") do %>
  <%= label_tag(:username, "Username") %>
  <%= text_field_tag(:user, :username) %>
  <%= label_tag(:email, "Email") %>
  <%= email_field(:user, :email) %>
  <%= label_tag(:password, "Password") %>
  <%= password_field_tag(:user, :password) %>
  <%= submit_tag("Submit") %>
<% end %> 
<%
=end%>

<%
=begin%>
 <form action="/users" method="post" accept-charset="UTF-8">
  <label for="username">Username:</label>
  <input type="text" name="user[username]" id="username">
  <label for="email">Email:</label>
  <input type="text" name="user[email]" id="email">
  <label for="password">Password:</label>
  <input type="password" name="user[password]" id="password">
  <input type="submit" name="commit" value="Submit">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form> 
<%
=end%>



